/* src/pages/Home.css */

/* General Home Page Layout */
.home-page {
    padding: 2rem 0;
  }
  
  /* Content Section Styling */
  .content-section {
    padding: 1.5rem 0;
    background-color: #f8f9fa;  /* Light background color for contrast */
    border-radius: 10px;
  }
  
  .content-text {
    font-size: 1.25rem;
    line-height: 1.7;
    padding: 1rem;
    color: #333;
  }
  
  .content-image {
    border-radius: 10px;
  }
  
  /* Media Queries for Smaller Devices */
  @media (max-width: 768px) {
    .content-text {
      text-align: center;
      padding: 1rem 2rem;
    }
  
    .content-image {
      margin-bottom: 1rem;
    }
  }
  